/*David Fernando Bolanos Lopez: UO3023131    */


/*Estilos generales para MotoGP Desktop*/
/*Especifidad:(0,0,1)*/
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #7d8aa6;
  color: #1D1E2A;
}
/*Especificidad: (0,0,1)*/
header{
  color:red;
  background-color:#1A1A1A;  
}

a {
  text-decoration: none;
  color: red;
}

/*Especifidad: (0,1,0) */
.active{
  color:aqua;
  /*Advertencia de color permitida: hereda backgroundcolor del header*/
}
/*Especifidad:(0,1,2)*/
body > p:first-of-type {
  font-size: 0.75em;
}
/*Especifidad:(0,0,1)*/
video {
  max-height: 60em;
  max-width: 60em;
}
