/*David Fernando Bolanos Lopez: UO3023131    */


/*Estilos generales para MotoGP Desktop*/
/*Especifidad:(0,0,1)*/
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #BFC2D4;
  color: #1D1E2A;
}
/*Especificidad: (0,0,1)*/
header{
  color:#00FFFF;
  background-color:#1A1A1A;  
}

/*Especifidad: (0,0,1)*/
a{
  color: #000080;;
  text-decoration-line: none;
  /*Advertencia de color permitida: hereda backgroundcolor del header*/
}

/*Especifidad: (0,1,1)*/
a:hover, a:focus{
  color: #000000; 
  /*Advertencia de color permitida: hereda backgroundcolor del header*/
}

/*Especifidad: (0,0,2)*/
header a {
  color:#00FFFF;
  /*Advertencia de color permitida: hereda backgroundcolor del header*/
}
/*Especifidad: (0,1,0) */
.active{
  color:#7d8aa6;
  /*Advertencia de color permitida: hereda backgroundcolor del header*/
}
/*Especifidad:(0,1,2)*/
body > p:first-of-type {
  font-size: 0.75em;
}
  
video {
  max-height: 60em;
  max-width: 60em;
}
