/*David Fernando Bolanos Lopez: UO3023131    */


/*Estilos de layout para MotoGP Desktop*/

/*Especificidad: (0,0,1)*/
header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
/*Especificidad: (0,0,1)*/
header nav{
    display:flex;
    flex-direction:row;
    gap:20px;
}
 /* Contenedor del mapa: único div hijo directo de body */
    body > div {
        width: 100%;
        height: 400px;
        margin-top: 1em;    
    }



@media (min-width: 320px) and (max-width: 799px){
    /*Especificidad: (0,0,2)*/
    header{
        flex-direction: column;
    }
    /*Redefinimos header nav en caso de un menor tamaño de viewport */
   
    /*Especificidad: (0,0,2)*/
    header nav{
        flex-direction: column;
    }
    /*Redefinimos header nav en caso de un menor tamaño de viewport */

    /*Especificiad: (0,1,1)*/
     body > p:first-of-type{
       display:none; 
    }
    
    /*Especifidad: (0,0,1)*/
    Video {
        width:80%;
        height:auto; 
    } 
    /*Redefinimos el tamaño del video en caso de un menor tamaño de viewport */
    /*Especificidad: (0,0,1)*/
    audio{
        width:100%;
    }
    /*Redefinimos el tamaño del audio en caso de un menor tamaño de viewport */

    /*Especificidad: (0,0,3)*/
    article h2 + img{
        width: 100%;
    }
    /*Redefinimos el tamaño de las tarjetas de memoria caso de un menor tamaño de viewport */

    /*Especificidad: (0,0,2)*/
    body > div {
        height: 60vh;  
    }
    /*Redefinimos el mapa en caso de un menor tamaño de viewport */
   
}
