/*David Fernando Bolanos Lopez: UO3023131    */


/*Estilos de layout para MotoGP Desktop*/

/*Especificidad: (0,0,1)*/
header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
/*Especificidad: (0,0,1)*/
header nav{
    display:flex;
    flex-direction:row;
    gap:20px;
}

@media (min-width: 320px) and (max-width: 799px){
    /*Especificidad: (0,0,2)*/
    header{
        flex-direction: column;
    }
    /*Redefinimos header nav en caso de un menor tamaño de viewport */
   
    /*Especificidad: (0,0,2)*/
    header nav{
        flex-direction: column;
    }
    /*Redefinimos header nav en caso de un menor tamaño de viewport */

    /*Especificiad: (0,1,1)*/
     p:first-of-type{
       display:none; 
    }
    
    /*Especifidad: (0,0,1)*/
    Video {
        width:80%;
        height:auto; 
    } 
    audio{
        width:100%;
    }
}
