/*Especifidad: (0,0,1)*/
main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:0.5em;
    justify-items: center;
    
}
/*Especifidad: (0,0,2)*/
main h2 {
    grid-column: 1 / -1;
    align-content: center;
}
main p {
    grid-column: 1 / -1;
    align-content: center;
}

@media (min-width: 320px) and (max-width: 799px){
    /*Especifidad: (0,0,1)*/
    main{
        grid-template-columns: repeat(2,1fr);
    }
}